{% extends 'base.html' %}

{% block title %}
    Shopping lists
{% endblock %}

{% block container %}
    <h2>Shopping lists</h2>
    <div class=" list-group list-group-flush d-flex justify-content-start align-items-start">
        <div class="">
            <a href="{% url 'shopping_list:create' %}" class="btn btn-success btn-lg">New shopping list</a>
            <a href="{% url 'shopping_list:favourites' %}" class="btn btn-success btn-lg">Favourites</a>
            <a href="{% url 'shopping_list:history' %}" class="btn btn-success btn-lg">History</a>
        </div>
    </div>
    <ul class="list-group list-group-flush mt-3">
        {% for item in data_to_render %}

            <li class="list-group-item list-group-item-info d-flex mt-3 justify-content-between align-items-start">
                <div class="row col-6">
                    <div class="col-6">
                        <span>{{ item.0.name }}</span>
                    </div>
                    <div class="col-6">
                        {% if item.0.shop != None %}
                            Shop: <span>{{ item.0.shop }}</span>
                        {% else %}
                            No shop chosen
                        {% endif %}
                    </div>
                </div>
                <div class="">

                    {% if item.2 %}
                        <button disabled class="btn btn-info btn-sm">Shared</button>
                    {% else %}
                        <a href="{% url 'shopping_list:share' slug=item.0.slug %}" class="btn btn-info btn-sm">Share</a>
                        <a href="{% url 'shopping_list:update' slug=item.0.slug %}"
                           class="btn btn-warning btn-sm">Edit</a>
                        <a href="{% url 'shopping_list:delete' slug=item.0.slug %}"
                           class="btn btn-danger btn-sm">Delete</a>
                    {% endif %}
                    <a href="{% url 'shopping_list:change_finish_status' slug=item.0.slug %}"
                       class="btn btn-success btn-sm">Finished</a>
                </div>
            </li>
            <ul class="">
                {% for product in item.1 %}
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="row col-6" id="{{ item.0.id }}_{{ product.product_id }}">

                            <div class="col-6">
                                {% if product.is_bought %}
                                    <del>
                                {% endif %}
                                <span> {{ product.product }}</span>
                                {% if product.is_bought %}
                                    </del>
                                {% endif %}
                            </div>
                            <div class="col">
                                {% if product.is_bought %}
                                    <del>
                                {% endif %}
                                <span>{{ product.amount|floatformat:0 }}</span>
                                {% if product.amount != '' and product.unit_of_measurement != 'None' %}
                                    <span>{{ product.unit_of_measurement }}</span>
                                {% endif %}
                                {% if product.is_bought %}
                                    </del>
                                {% endif %}
                            </div>
                        </div>
                        <div class="">
                            {% if product.comment != '' %}
                                <a href="{% url 'shopping_list:view_comment' slug=item.0.slug product_id=product.product_id %}?previous={{ request.path|urlencode }}#{{ item.0.id }}_{{ product.product_id }}"
                                   class="btn btn-success btn-sm">View comment</a>
                            {% endif %}
                            <div class="d-inline-flex" style="width: 4rem">
                                <form action="{% url 'shopping_list:change_product_status' slug=item.0.slug product_id=product.product_id %}#{{ item.0.id }}_{{ product.product_id }}"
                                      method="post">
                                    {% csrf_token %}
                                    {% if product.is_bought %}
                                        <input type="submit" class="btn btn-success btn-sm" value="Uncheck">
                                    {% else %}
                                        <input type="submit" class="btn btn-danger btn-sm" value="Check">
                                    {% endif %}
                                </form>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </ul>
{% endblock %}
