{% extends 'base.html' %}

{% block title %}
    Comment
{% endblock %}

{% block container %}
    <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="previous" value="{{ previous }}">
        <div>
            <h4 class="mt-3">{{ product.shopping_list.name }}</h4>
            <h5 class="mt-3">{{ product.product.name }}</h5>
            <p class="mt-3">{{ product.comment }}</p>
        </div>
        <input type="submit" class="btn btn-danger btn-sm mt-3" value="Back">
    </form>
{% endblock %}