{% extends 'base.html' %}

{% block title %}
    Reorder shop
{% endblock %}

{% block container %}
    <ul class="list-group mt-3 col-6">
        {% for shop_category in shop_categories %}
            <li class="list-group-item">
                <form action="{% url 'shops:reorder' slug=shop_category.shop.slug category=shop_category.category_id %}"
                      method="post">
                    {% csrf_token %}
                    <span class=" text-black col-md-4">{{ shop_category.order|add:1 }}. {{ shop_category.category.name }}</span>
                    {% if not forloop.first %}
                        <input type="submit" value="&#8607" name="top" class="btn btn-success btn-sm">
                        <input type="submit" value="&#8593" name="up" class="btn btn-success btn-sm">
                    {% endif %}
                    {% if not forloop.last %}
                        <input type="submit" value="&#8595" name="down" class="btn btn-success btn-sm">
                        <input type="submit" value="&#8609" name="bottom" class="btn btn-success btn-sm ">
                    {% endif %}
                </form>
            </li>
        {% endfor %}
    </ul>

    <a href="{% url 'shops:list' %}" class="btn btn-success btn-sm mt-5">Done</a>
{% endblock %}